table
{
	background: lightgray;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px;
	padding: 10px;
	margin-left: 50px;
	float: left;
}
td
{
	padding-top:    10px;
	padding-bottom: 15px;
	padding-left:   15px;
	padding-right:  20px;
}
#output
{
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px;
	margin-left: 400px;
	width: 450px;
	height: 150px;
	padding: 10px;
}
#debug
{
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px;
	margin-left: 50px;
	margin-top:  20px;
	width: 1250px;
	height: 450px;
	padding: 10px;
	overflow: auto;
}